/*-----------------------------------------------
|   Theme Styles
-----------------------------------------------*/
/*-----------------------------------------------
|   Reboot
-----------------------------------------------*/
::-webkit-input-placeholder {
    opacity: 1;
    color: #E0E0E0 !important;
  }
  ::-moz-placeholder {
    opacity: 1;
    color: #E0E0E0 !important;
  }
  :-ms-input-placeholder {
    opacity: 1;
    color: #E0E0E0 !important;
  }
  ::-ms-input-placeholder {
    opacity: 1;
    color: #E0E0E0 !important;
  }
  ::placeholder {
    opacity: 1;
    color: #E0E0E0 !important;
  }
  
  html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: smooth;
    scroll-padding-top: 6.3125rem;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
  }
  
  pre, code {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
  
  section {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  @media (min-width: 992px) {
    section {
      padding-top: 7.5rem;
      padding-bottom: 7.5rem;
    }
  }
  
  input,
  button,
  select,
  optgroup,
  textarea,
  label,
  .alert,
  .badge,
  .blockquote-footer,
  .btn,
  .navbar,
  .pagination,
  .valid-feedback,
  .invalid-feedback {
    font-family: "Jost", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  pre {
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  strong {
    font-weight: 600;
  }
  
  label {
    font-weight: 500 !important;
    margin-bottom: 0.5rem;
  }
  
  ol,
  ul {
    padding-left: 1.1rem;
  }
  
  /* -------------------------------------------------------------------------- */
  /*                               Browser Fixing                               */
  /* -------------------------------------------------------------------------- */
  .firefox .dropcap:first-letter {
    margin-top: 0.175em;
  }
  
  .chrome .btn-close {
    background-clip: unset;
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                    Text                                    */
  /* -------------------------------------------------------------------------- */
  .text-smallcaps {
    font-variant: small-caps;
  }
  
  .text-superscript {
    vertical-align: super;
  }
  
  .text-word-break {
    word-break: break-word;
  }
  
  /*-----------------------------------------------
  |   Font family
  -----------------------------------------------*/
  .font-sans-serif {
    font-family: "Jost", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .font-base {
    font-family: "Jost", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  /*-----------------------------------------------
  |   Error Page
  -----------------------------------------------*/
  .fs-error {
    font-size: 7rem;
  }
  
  @media (min-width: 576px) {
    .fs-error {
      font-size: 10rem;
    }
  }
  
  /*-----------------------------------------------
  |   Text alignment
  -----------------------------------------------*/
  .text-justify {
    text-align: justify !important;
  }
  
  .text-gradient {
    background: -o-linear-gradient(40deg, #c381db, #4e92f9);
    background: linear-gradient(50deg, #c381db, #4e92f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /*-----------------------------------------------
  |   Backgrounds
  -----------------------------------------------*/
  .bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    will-change: transform, opacity, filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    z-index: 0;
  }
  
  .bg-holder.bg-right {
    left: auto;
    right: 0;
  }
  
  .bg-holder.overlay:before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.25);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .bg-holder.overlay-0:before {
    background: rgba(0, 0, 0, 0.7);
  }
  
  .bg-holder.overlay-1:before {
    background: rgba(0, 0, 0, 0.55);
  }
  
  .bg-holder.overlay-2:before {
    background: rgba(0, 0, 0, 0.4);
  }
  
  .bg-holder.overlay-light:before {
    background: rgba(255, 255, 255, 0.8);
  }
  
  .bg-holder .bg-video {
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    min-width: 100%;
  }
  
  .bg-holder .bg-youtube {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .bg-light-gradient {
    background: #ffffff;
    opacity: 0.85;
  }
  
  .bg-primary-gradient {
    background: -o-linear-gradient(241.82deg, #51B4F7 9.05%, #5A98F2 76.74%);
    background: linear-gradient(208.18deg, #51B4F7 9.05%, #5A98F2 76.74%);
  }
  
  .bg-dark-gradient {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 33, 33, 0.411)), to(rgba(33, 33, 33, 0)));
    background: -o-linear-gradient(bottom, rgba(33, 33, 33, 0.411) 0%, rgba(33, 33, 33, 0) 100%);
    background: linear-gradient(0deg, rgba(33, 33, 33, 0.411) 0%, rgba(33, 33, 33, 0) 100%);
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                   Borders                                  */
  /* -------------------------------------------------------------------------- */
  .overflow-hidden[class*='rounded'] {
    -webkit-mask-image: radial-gradient(#FFFEFE, #000);
    mask-image: radial-gradient(#FFFEFE, #000);
  }
  
  .border-top-2 {
    border-top-width: 0.125rem !important;
  }
  
  .border-end-2 {
    border-right-width: 0.125rem !important;
  }
  
  .border-bottom-2 {
    border-bottom-width: 0.125rem !important;
  }
  
  .border-start-2 {
    border-left-width: 0.125rem !important;
  }
  
  .border-klean {
    border-style: solid;
    -o-border-image: -o-linear-gradient(right, rgba(180, 210, 255, 0) 1%, #c7d9f5 50%, rgba(180, 210, 255, 0) 100%) 100% 0 100% 0/1px 0 1px 0 stretch;
    border-image: -webkit-gradient(linear, right top, left top, color-stop(1%, rgba(180, 210, 255, 0)), color-stop(50%, #c7d9f5), to(rgba(180, 210, 255, 0))) 100% 0 100% 0/1px 0 1px 0 stretch;
    border-image: linear-gradient(to left, rgba(180, 210, 255, 0) 1%, #c7d9f5 50%, rgba(180, 210, 255, 0) 100%) 100% 0 100% 0/1px 0 1px 0 stretch;
  }
  
  .border-img {
    border: 2px solid #FFFEFE;
    border-radius: 5rem;
  }
  
  .border-klean-gradient {
    border: double .5rem transparent;
    border-radius: 80px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white)), -webkit-gradient(linear, left top, right top, from(#c381db), to(#4e92f9));
    background-image: -o-linear-gradient(white, white), -o-linear-gradient(left, #c381db, #4e92f9);
    background-image: linear-gradient(white, white), linear-gradient(to right, #c381db, #4e92f9);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                  Position                                  */
  /* -------------------------------------------------------------------------- */
  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    position: relative;
  }
  
  .all-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                    Flex                                    */
  /* -------------------------------------------------------------------------- */
  .flex-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .flex-between-center {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .flex-end-center {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .link-black {
    color: #000 !important;
  }
  
  .link-black:hover, .link-black:focus {
    color: black !important;
  }
  
  .link-100 {
    color: #FCFCFC !important;
  }
  
  .link-100:hover, .link-100:focus {
    color: #d6d6d6 !important;
  }
  
  .link-200 {
    color: #F5F5F5 !important;
  }
  
  .link-200:hover, .link-200:focus {
    color: #cfcfcf !important;
  }
  
  .link-300 {
    color: #EEEEEE !important;
  }
  
  .link-300:hover, .link-300:focus {
    color: #c8c8c8 !important;
  }
  
  .link-400 {
    color: #E0E0E0 !important;
  }
  
  .link-400:hover, .link-400:focus {
    color: #bababa !important;
  }
  
  .link-500 {
    color: #BDBDBD !important;
  }
  
  .link-500:hover, .link-500:focus {
    color: #979797 !important;
  }
  
  .link-600 {
    color: #9E9E9E !important;
  }
  
  .link-600:hover, .link-600:focus {
    color: #787878 !important;
  }
  
  .link-700 {
    color: #757575 !important;
  }
  
  .link-700:hover, .link-700:focus {
    color: #4f4f4f !important;
  }
  
  .link-800 {
    color: #616161 !important;
  }
  
  .link-800:hover, .link-800:focus {
    color: #3b3b3b !important;
  }
  
  .link-900 {
    color: #424242 !important;
  }
  
  .link-900:hover, .link-900:focus {
    color: #1c1c1c !important;
  }
  
  .link-1000 {
    color: #212121 !important;
  }
  
  .link-1000:hover, .link-1000:focus {
    color: black !important;
  }
  
  .link-white {
    color: #FFFEFE !important;
  }
  
  .link-white:hover, .link-white:focus {
    color: #ffb2b2 !important;
  }
  
  .shadow-transition {
    -webkit-box-shadow: 0 1.5625rem 2.8125rem rgba(66, 66, 66, 0.075);
    box-shadow: 0 1.5625rem 2.8125rem rgba(66, 66, 66, 0.075);
    -webkit-transition: -webkit-box-shadow 0.4s ease;
    transition: -webkit-box-shadow 0.4s ease;
    -o-transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
  }
  
  .circle-blend {
    position: relative;
  }
  
  .circle-blend::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    z-index: -1 !important;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  
  .circle-blend-right::before {
    left: auto;
    right: 0;
  }
  
  .circle-blend-left::before {
    right: auto;
    left: 0;
  }
  
  .circle-danger:before {
    -webkit-box-shadow: 0 0 12.5rem 3.75rem #FF705C;
    box-shadow: 0 0 12.5rem 3.75rem #FF705C;
  }
  
  .circle-warning:before {
    -webkit-box-shadow: 7.5rem 0 48.75rem 4.0625rem #FFA15C;
    box-shadow: 7.5rem 0 48.75rem 4.0625rem #FFA15C;
  }
  
  .circle-cyan:before {
    -webkit-box-shadow: 9.375rem 15.625rem 50rem 3.125rem #00A1FC;
    box-shadow: 9.375rem 15.625rem 50rem 3.125rem #00A1FC;
  }
  
  .circle-primary:before {
    -webkit-box-shadow: 0 0 18.75rem 6.25rem #FFA15C;
    box-shadow: 0 0 18.75rem 6.25rem #FFA15C;
  }
  
  .circle-pink:before {
    -webkit-box-shadow: 0 15.625rem 50rem 4.6875rem #F8A2FF;
    box-shadow: 0 15.625rem 50rem 4.6875rem #F8A2FF;
  }
  
  .circle {
    position: relative;
  }
  
  .circle::before {
    position: absolute;
    content: '';
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    z-index: -1 !important;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background-image: -o-linear-gradient(250deg, rgba(86, 151, 250, 0), #4e92f94a);
    background-image: linear-gradient(200deg, rgba(86, 151, 250, 0), #4e92f94a);
  }
  
  @media (min-width: 576px) {
    .square {
      position: relative;
      display: inline-block;
    }
    .square::before {
      position: absolute;
      content: '';
      height: 25rem;
      width: 25rem;
      border-radius: 3.8125rem;
      z-index: -1 !important;
      background-image: -o-linear-gradient(250deg, rgba(78, 146, 249, 0.342), rgba(225, 160, 247, 0.274));
      background-image: linear-gradient(200deg, rgba(78, 146, 249, 0.342), rgba(225, 160, 247, 0.274));
    }
    .shadow-square-bottom::before {
      top: 5rem;
      left: 5rem;
    }
    .shadow-square-top::before {
      top: -5rem;
      left: -5rem;
    }
  }
  
  @media (min-width: 576px) {
    .wrapper {
      position: relative;
      display: inline-block;
    }
    .wrapper::before {
      position: absolute;
      content: '';
      z-index: -1 !important;
    }
    .shadow-square-right::before {
      height: 18.75rem;
      width: 12.5rem;
      top: 0.375rem;
      left: 1.25rem;
      border-radius: 1.5625rem 3.125rem 1.5625rem 3.125rem;
      background-image: -o-linear-gradient(250deg, rgba(78, 146, 249, 0.034), rgba(78, 146, 249, 0.642));
      background-image: linear-gradient(200deg, rgba(78, 146, 249, 0.034), rgba(78, 146, 249, 0.642));
    }
    .shadow-square-left::before {
      height: 18.75rem;
      width: 12.5rem;
      top: 0.375rem;
      right: 1.25rem;
      border-radius: 1.5625rem 1.5625rem 3.125rem 1.5625rem;
      background-image: -o-linear-gradient(250deg, rgba(225, 160, 247, 0), rgba(225, 160, 247, 0.377));
      background-image: linear-gradient(200deg, rgba(225, 160, 247, 0), rgba(225, 160, 247, 0.377));
    }
    .shadow-square-left-bottom::before {
      height: 100%;
      width: 100%;
      top: 16%;
      right: 12%;
      border-radius: 5rem 5rem 5rem 8.75rem;
      background-image: -o-linear-gradient(250deg, rgba(78, 146, 249, 0.034), rgba(78, 146, 249, 0.642));
      background-image: linear-gradient(200deg, rgba(78, 146, 249, 0.034), rgba(78, 146, 249, 0.642));
    }
  }
  
  .feature-square {
    position: relative;
  }
  
  .feature-square::before {
    position: absolute;
    content: '';
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 1.5625rem;
    z-index: -1 !important;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(26%, 8%, 0);
    transform: translate3d(26%, 8%, 0);
    background-image: -o-linear-gradient(250deg, rgba(78, 146, 249, 0.342), rgba(225, 160, 247, 0.274));
    background-image: linear-gradient(200deg, rgba(78, 146, 249, 0.342), rgba(225, 160, 247, 0.274));
  }
  
  .shadow-klean {
    -webkit-box-shadow: 0px 0.4375rem 1.25rem rgba(49, 69, 255, 0.13);
    box-shadow: 0px 0.4375rem 1.25rem rgba(49, 69, 255, 0.13);
  }
  
  .icon-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .icon-wrapper::before {
    position: absolute;
    content: '';
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 0.9375rem;
    z-index: -1 !important;
    top: 0.375rem;
    left: 1.25rem;
  }
  
  .shadow-danger:before {
    background-image: -o-linear-gradient(250deg, rgba(235, 100, 83, 0.134), rgba(235, 100, 83, 0.134));
    background-image: linear-gradient(200deg, rgba(235, 100, 83, 0.134), rgba(235, 100, 83, 0.134));
  }
  
  .shadow-primary:before {
    background-image: -o-linear-gradient(250deg, rgba(78, 146, 249, 0.134), rgba(78, 146, 249, 0.134));
    background-image: linear-gradient(200deg, rgba(78, 146, 249, 0.134), rgba(78, 146, 249, 0.134));
  }
  
  .shadow-warning:before {
    background-image: -o-linear-gradient(250deg, rgba(239, 171, 24, 0.134), rgba(239, 171, 24, 0.134));
    background-image: linear-gradient(200deg, rgba(239, 171, 24, 0.134), rgba(239, 171, 24, 0.134));
  }
  
  .shadow-success:before {
    background-image: -o-linear-gradient(250deg, rgba(150, 209, 33, 0.134), rgba(150, 209, 33, 0.134));
    background-image: linear-gradient(200deg, rgba(150, 209, 33, 0.134), rgba(150, 209, 33, 0.134));
  }
  
  .shadow-secondary:before {
    background-image: -o-linear-gradient(250deg, rgba(196, 109, 227, 0.134), rgba(196, 109, 227, 0.134));
    background-image: linear-gradient(200deg, rgba(196, 109, 227, 0.134), rgba(196, 109, 227, 0.134));
  }
  
  .shadow-info:before {
    background-image: -o-linear-gradient(250deg, rgba(33, 212, 223, 0.134), rgba(33, 212, 223, 0.134));
    background-image: linear-gradient(200deg, rgba(33, 212, 223, 0.134), rgba(33, 212, 223, 0.134));
  }
  
  /*-----------------------------------------------
  |   Icons group
  -----------------------------------------------*/
  .icon-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .icon-group .icon-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .icon-item {
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #757575;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 2.5rem;
    width: 2.5rem;
    border: 0;
    font-size: 0.875rem;
    -webkit-box-shadow: 0 1.5625rem 2.8125rem rgba(0, 87, 255, 0.15);
    box-shadow: 0 1.5625rem 2.8125rem rgba(0, 87, 255, 0.15);
  }
  
  .icon-item:hover, .icon-item:focus {
    background-color: #F5F5F5;
  }
  
  .icon-item.icon-item-sm {
    height: 1.875rem;
    width: 1.875rem;
  }
  
  .icon-item.icon-item-lg {
    height: 2.75rem;
    width: 2.75rem;
  }
  
  .fontawesome-i2svg-active .icon-indicator {
    opacity: 1;
  }
  
  /*-----------------------------------------------
  |   Object fit and Z-index
  -----------------------------------------------*/
  .fit-cover {
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .z-index-1 {
    z-index: 1;
  }
  
  .z-index-2 {
    z-index: 2 !important;
  }
  
  .z-index--1 {
    z-index: -1;
  }
  
  /*-----------------------------------------------
  |   Sidebar
  -----------------------------------------------*/
  .sticky-sidebar {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1020;
    top: 5.3125rem;
  }
  
  /*-----------------------------------------------
  |   Custom circle
  -----------------------------------------------*/
  .circle-dashed {
    border: 1px dashed #FFA15C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
  }
  
  /*-----------------------------------------------
  |   Miscellaneous
  -----------------------------------------------*/
  .hover-text-decoration-none:hover, .hover-text-decoration-none:focus {
    text-decoration: none;
  }
  
  .resize-none {
    resize: none;
  }
  
  .collapsed .collapse-icon {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  .collapse-icon {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  [data-dismiss="dropdown"] *,
  [data-offset-top] *,
  [data-toggle="collapse"] *,
  [data-toggle="tooltip"] *,
  [data-toggle="popover"] * {
    pointer-events: none;
  }
  
  /*-----------------------------------------------
  |   Outline
  -----------------------------------------------*/
  .outline-none {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .outline-none:hover, .outline-none:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  /*-----------------------------------------------
  |   Vertical Line (used in kanban header)
  -----------------------------------------------*/
  .vertical-line:after {
    position: absolute;
    content: "";
    height: 75%;
    width: 1px;
    background: #EEEEEE;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .vertical-line.vertical-line-400:after {
    background-color: #E0E0E0;
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                 Transition                                 */
  /* -------------------------------------------------------------------------- */
  .transition-base {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .transition-none {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  
  .fsp-75 {
    font-size: 75%;
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                    Width                                   */
  /* -------------------------------------------------------------------------- */
  .min-w-0 {
    min-width: 0;
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                Terms sidebar                               */
  /* -------------------------------------------------------------------------- */
  .terms-sidebar .nav-link {
    color: #BDBDBD;
    font-weight: 500;
    font-family: "Jost", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .terms-sidebar .nav-link.active {
    color: #FFA15C;
  }
  
  .icon {
    padding: 1rem;
    border-radius: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: rgba(255, 254, 254, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 254, 254, 0.3);
  }
  
  .icon-primary {
    color: #FFA15C;
  }
  
  .icon-secondary {
    color: #FE7A15;
  }
  
  .icon-success {
    color: #19CC61;
  }
  
  .icon-info {
    color: #00A1FC;
  }
  
  .icon-warning {
    color: #FFA15C;
  }
  
  .icon-danger {
    color: #FF705C;
  }
  
  .icon-light {
    color: #F9FAFD;
  }
  
  .icon-dark {
    color: #212121;
  }
  
  /*-----------------------------------------------
  |   LaslesVPN glow buttons
  -----------------------------------------------*/
  .btn-glow {
    position: relative;
  }
  
  .btn-glow::before {
    content: '';
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    display: inline-block;
    background-color: inherit;
    opacity: 0.55;
    -webkit-filter: blur(26px);
    filter: blur(26px);
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    z-index: -1;
    border-radius: 10px;
  }
  
  .btn-gradient:hover {
    -webkit-box-shadow: 0 10px 20px #F8A2FF, 0 6px 6px #FFA15C;
    box-shadow: 0 10px 20px #F8A2FF, 0 6px 6px #FFA15C;
  }
  
  .btn-theme-outline {
    position: relative;
  }
  
  .btn-theme-outline::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: auto;
    background: -o-linear-gradient(40deg, #FFA15C, #FFA15C);
    background: linear-gradient(50deg, #FFA15C, #FFA15C);
    -webkit-mask: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg" ><rect x="1" y="1" width="100%" height="100%" style="height:calc(100% - 2px);width:calc(100% - 2px)" rx="6" ry="6" stroke-width="1" fill="transparent" stroke="white"/></svg>') 0/100% 100%;
    mask: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg" ><rect x="1" y="1" width="100%" height="100%" style="height:calc(100% - 2px);width:calc(100% - 2px)" rx="6" ry="6" stroke-width="1" fill="transparent" stroke="white"/></svg>') 0/100% 100%;
  }
  
  /* Hover */
  .hover-top {
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .hover-top.hover-top-shadow-lg:hover, .hover-top.hover-top-shadow-lg:focus {
    -webkit-transform: translateY(-0.3125rem) translateZ(0);
    transform: translateY(-0.3125rem) translateZ(0);
  }
  
  .hover-top:hover, .hover-top:focus {
    -webkit-transform: translateY(-0.125rem) translateZ(0);
    transform: translateY(-0.125rem) translateZ(0);
    -webkit-box-shadow: 0.5rem 0.5rem 1.5rem rgba(110, 74, 156, 0.1) !important;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(110, 74, 156, 0.1) !important;
    background-color: #F8A2FF;
    color: #FFFEFE;
  }
  
  .hover-top:hover .heading-color, .hover-top:focus .heading-color {
    color: #FFFEFE;
  }
  
  /* Icon Forward */
  .hvr-icon-forward {
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }
  
  .hvr-icon-forward .hover-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
  .hvr-icon-forward:hover .hover-icon, .hvr-icon-forward:focus .hover-icon, .hvr-icon-forward:active .hover-icon {
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px);
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                    Badge                                   */
  /* -------------------------------------------------------------------------- */
  .badge {
    line-height: 0.8125rem;
  }
  
  .badge-circle {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0.5rem;
  }
  
  @media (min-width: 768px) {
    .badge-circle {
      height: 3.4rem;
      width: 3.4rem;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 1rem;
    }
  }
  
  .carousel-indicators {
    position: static;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin: 0;
  }
  
  .carousel-indicators li {
    border-radius: 50%;
    border-radius: 10px;
  }
  
  .carousel-indicators .active {
    opacity: 1;
  }
  
  .carousel-control-prev {
    left: auto;
  }
  
  .card-span {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: 0;
  }
  
  .card-span .card-span-img {
    position: absolute;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .input-group-icon {
    position: relative;
  }
  
  .input-group-icon .input-box {
    padding-left: 2.8rem;
    vertical-align: middle;
  }
  
  .input-group-icon .input-box-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    color: #EEEEEE;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .form-voyage-control {
    background-color: #FFFEFE;
    background-clip: padding-box;
    border: 0 solid #E0E0E0;
    border-bottom: 1px solid #BDBDBD;
    border-radius: 0;
    color: #212121;
  }
  
  .form-voyage-select {
    color: #212121;
    background-color: #FFFEFE;
    border: 0 solid #E0E0E0;
    border-bottom: 1px solid #BDBDBD;
    border-radius: 0;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    width: 10px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 451.847 451.847' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751 c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0 c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z' fill='%23607080' data-original='%23000000' style='' class=''/%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .border-navbar-gradient {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(10.94%, rgba(255, 255, 255, 0.890625)), color-stop(86.46%, #FFFFFF), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.890625) 10.94%, #FFFFFF 86.46%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.890625) 10.94%, #FFFFFF 86.46%, rgba(255, 255, 255, 0) 100%);
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
  }
  
  .backdrop {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
  
  .majestic-tabs {
    border-bottom: 0;
  }
  
  .majestic-tabs .nav-link {
    border: 2px solid transparent;
    color: #616161;
  }
  
  .majestic-tabs .nav-link:hover, .majestic-tabs .nav-link:focus {
    border-color: transparent;
  }
  
  .majestic-tabs .nav-link.active,
  .majestic-tabs .nav-item.show .nav-link {
    border-bottom-color: #757575;
  }
  
  /*-----------------------------------------------
  |   User Styles
  -----------------------------------------------*/
  
  /*# sourceMappingURL=theme.css.map */